body {
  background-color: #6b705c;
  margin: 0;
  overflow: hidden;
}

.canvases {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
